{% extends 'base.html.twig' %}

{% block body %}
    <h1>Search points</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Search</button>
    {{ form_end(form) }}

    {% if results %}
        <h2>Results:</h2>
        <p>Points count: {{ results.count }}</p>
        <ul>
            {% for point in results.items %}
                <li>Point {{ loop.index }}: {{ point.name }} {{ point.address.line1 }} {{ point.address.line2 }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}